<div
  *ngIf="project(); else loading"
  class="p-4 bg-white rounded shadow flex flex-col gap-4 items-center justify-center min-h-screen w-full max-w-5xl mx-auto"
>
  <div class="text-center bg-gray-600 text-white rounded w-3xl space-y-5 h-fit p-6">
    <h2 class="text-5xl font-bold">{{ project()?.name || 'Proje Adı Yok' }}</h2>
    <p class="text-lg mt-2">{{ project()?.description || 'Açıklama yok' }}</p>
  </div>
  <ng-container *ngIf="project() as p">
    <app-task-list [projectId]="p.id"></app-task-list>
  </ng-container>
</div>
<ng-template #loading>
  <p>Yükleniyor...</p>
</ng-template>
